<template>
  <v-main>
    <v-row>
      <v-col sm="12">
        <v-input
          v-model="counter"
          prepend-icon="mdi-minus-circle-outline"
          append-icon="mdi-plus-circle-outline"
          @click:prepend="reduceCounter"
          @click:append="incrementCounter"
          outlined
          dense
          readonly
          class="white mx-6 px-2 pt-3"
        >
          <span id="counterContainer" class="mt-1 ml-2">
            {{ counter }}
          </span>
        </v-input>
      </v-col>
    </v-row>
  </v-main>
</template>
<script>
export default {
  name: 'counter-handler',
  props: {
    minimum: { type: Number, default: 0 },
    maximum: { type: Number, default: 3 },
    step: { type: Number, default: 1 },
    actualValue: { type: Number, default: 0 }
  },

  data: () => ({
    counter: 0
  }),

  methods: {
    reduceCounter () {
      if (this.minimumReached()) return

      this.counter -= this.step
      this.notifyUpdate()
    },

    incrementCounter () {
      if (this.maximumReached()) return

      this.counter += this.step
      this.notifyUpdate()
    },

    minimumReached () {
      return this.counter === this.minimum
    },

    maximumReached () {
      return this.counter === this.maximum
    },

    notifyUpdate () {
      this.$emit('counterChanged', this.counter)
    }
  },

  created () {
    this.counter = this.actualValue
  }
}
</script>
