<template>
  <v-container>
    <v-row class="col-12">
      <v-btn @click="handleButtonClicked" text>
        <v-icon>mdi-pencil-outline</v-icon>{{ label }}
      </v-btn>
    </v-row>
  </v-container>
</template>
<script>
export default {
  name: 'edit-button',
  props: ['label', 'itemId'],
  methods: {
    handleButtonClicked () {
      this.$emit('editClicked', this.itemId)
    }
  }
}
</script>
