<template>
  <v-app>
    <v-row justify="center">
      <v-dialog
        :value="visible"
        max-width="600"
        persistent
      >
        <v-card>
          <v-card-title class="text-h5">
            Edit Flights
            <v-spacer></v-spacer>
            <v-btn icon @click="handleCloseDialogClicked" aria-label="closeDialog">
              <v-icon>mdi-window-close</v-icon>
            </v-btn>
          </v-card-title>

          <v-card-subtitle class="mt-1">
            Add or remove flights from the subscriber
          </v-card-subtitle>

          <v-card-text>
            <v-row class="mt-8">
              <v-col cols="4" class="indigo lighten-5 px-5">
                <h3 class="mb-4 pl-8">Flights left</h3>
                <CounterHandler
                  :minimum="minFlights"
                  :maximum="maxFlights"
                  :step="modifierStep"
                  :actualValue="flightsQuota"
                  @counterChanged="handleFlightsNumberChanged"
                />
              </v-col>
              <v-col cols="8">
                <FilterableSelect
                  :filter="quotaModifierType"
                  :options="flightQuotaChangeReasons"
                  @optionChanged="updateQuotaModifierReason"
                  />
              </v-col>
            </v-row>
          </v-card-text>

          <v-card-actions class="pb-8">
            <v-spacer></v-spacer>
            <v-btn @click="saveChangesCliked" :disabled="saveButtonDisabled" depressed class="pa-4">
              save changes
            </v-btn>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-app>
</template>
<script>
import CounterHandler from '@/components/CounterHandler'
import FilterableSelect from '@/components/FilterableSelect'
import SubscribersRepository from '@/services/SubscribersRepository'
import DomainRulesRepository from '@/services/DomainRulesRepository'

const domainRulesRepo = new DomainRulesRepository()
const subscribers = new SubscribersRepository()

export default {
  name: 'edit-button',
  components: { CounterHandler, FilterableSelect },
  props: {
    subscriberId: Number,
    flightsQuota: { type: Number, default: null },
    visible: { type: Boolean, default: true }
  },

  data: () => ({
    minFlights: null,
    maxFlights: null,
    modifierStep: null,
    flightQuotaChangeReasons: null,
    newFlightsQuota: null,
    quotaModifierReason: null
  }),

  computed: {
    quotaModifierType () {
      if (!this.flightsQuota || this.newFlightsQuota === null) return
      if (this.flightsQuotaUnchanged) return

      let modifierType = 'increment'
      if (this.newFlightsQuota < this.flightsQuota) {
        modifierType = 'decrement'
      }

      return modifierType
    },
    flightsQuotaUnchanged () {
      return this.newFlightsQuota === this.flightsQuota
    },
    saveButtonDisabled () {
      return this.flightsQuotaUnchanged || this.quotaModifierReason === null
    }
  },

  methods: {
    handleFlightsNumberChanged (amount) {
      this.newFlightsQuota = amount
    },
    async saveChangesCliked () {
      const response = await subscribers.saveFlightsQuota({
        id: this.subscriberId,
        flightsQuota: this.newFlightsQuota,
        modiferReason: this.quotaModifierReason
      })

      if (response.failed) {
        this.$emit('saveFailed')
        return
      }

      this.$emit('saveSuccessful')
    },
    handleCloseDialogClicked () {
      this.$emit('closeDialogClicked')
    },
    updateQuotaModifierReason (reasonId) {
      this.quotaModifierReason = reasonId
    }
  },

  async created () {
    const flightsQuotaRules = await domainRulesRepo.flightQuota()

    this.minFlights = flightsQuotaRules.minFlights
    this.maxFlights = flightsQuotaRules.maxFlights
    this.modifierStep = flightsQuotaRules.modifierStep

    const flightQuotaChangeReasons = await domainRulesRepo.flightQuotaChangeReasons()
    this.flightQuotaChangeReasons = flightQuotaChangeReasons.data
  }
}
</script>
