<template>
  <v-main>
    <v-select
      v-model="selected"
      :items="filteredOptions"
      item-text="text"
      item-value="value"
      label="What is the motive?"
      outlined
      @change="handleSelectChanged"
    >
    </v-select>
  </v-main>
</template>
<script>
export default {
  name: 'counter-handler',
  props: {
    filter: { type: String, default: '' },
    options: { type: Array, default: () => [] }
  },

  computed: {
    filteredOptions () {
      if (!this.options || this.filter === '') return

      const allTypeFilter = 'all'
      const byType = (item) => (
        item.type === this.filter || item.type === allTypeFilter
      )
      this.clearSelected()

      return this.options.filter(byType)
    }
  },

  data: () => ({
    selected: null
  }),

  methods: {
    handleSelectChanged (element) {
      this.$emit('optionChanged', element)
    },
    clearSelected () {
      this.selected = null
      this.$emit('optionChanged', null)
    }
  }

}
</script>
