<template>
  <v-app>
    <v-main>
      <v-row class="mt-12">
        <v-spacer></v-spacer>
        <v-col>
          <EditButton
            ref="editFlightsButton"
            label="Edit Flights"
            itemId="1"
            @editClicked="editSubscriberFlights"
          />
        </v-col>
        <v-col>
          <v-alert v-show="saveSuccessful"
            type="success"
            outlined dense
            transition="fade-transition"
            aria-label="saveSuccessfulAlert"
          >
            Flights modification saved successfully!
          </v-alert>
          <v-alert
            v-show="saveFailed"
            type="error" outlined dense dismissible
            aria-label="saveFailedAlert"
          >
            Sorry save operation ended with error
          </v-alert>
          <v-alert
            v-show="loadFailed"
            type="error"
            outlined dense dismissible
            aria-label="loadFailedAlert"
          >
            Sorry a error happened and subscriber flights couln't be loaded
          </v-alert>
        </v-col>
        <v-spacer></v-spacer>
      </v-row>
    </v-main>
      <EditFlightsDialog
        ref="editFlightsDialog"
        :subscriberId="editedSubscriberId"
        :flightsQuota="editedFlightsQuota"
        v-if="editFlightsDialogVisible"
        @closeDialogClicked="closeEditFlightsDialog"
        @saveSuccessful="handleSuccessfulSave"
        @saveFailed="handleFailedSave"
      />
  </v-app>
</template>

<script>
import EditButton from './components/EditButton.vue'
import EditFlightsDialog from './components/EditFlightsDialog'
import SubscribersRepository from './services/SubscribersRepository'

const subscribersRepo = new SubscribersRepository()

export default {
  name: 'App',

  components: {
    EditButton,
    EditFlightsDialog
  },

  data: () => ({
    editFlightsDialogVisible: false,
    editedSubscriberId: null,
    editedFlightsQuota: null,
    saveSuccessful: false,
    saveFailed: false,
    loadFailed: false
  }),

  methods: {
    async editSubscriberFlights (subscriberId) {
      const flightsLoaded = await subscribersRepo.loadFlights(subscriberId)
      if (flightsLoaded.failed) {
        this.showLoadFailedAlert()
        return
      }
      this.editedSubscriberId = parseInt(subscriberId)
      this.editedFlightsQuota = flightsLoaded.data
      this.editFlightsDialogVisible = true
    },

    showLoadFailedAlert () {
      this.loadFailed = true
    },

    closeEditFlightsDialog () {
      this.editFlightsDialogVisible = false
    },

    handleSuccessfulSave () {
      this.closeEditFlightsDialog()
      this.saveSuccessful = true
      setTimeout(() => {
        this.saveSuccessful = false
      }, 1000)
    },
    handleFailedSave () {
      this.closeEditFlightsDialog()
      this.saveFailed = true
    }
  }
}
</script>
